<div class="container">
<%= form_with(model: registration_form, local: true) do |form| %>
  <% if registration_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration_form.errors.count, "error") %> prohibited this registration_form from being saved:</h2>

      <ul>
      <% registration_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.label :form_number %>
    <%= form.number_field :form_number %>
  </div>

  <div class="row">
    <%= form.label :partner_id %>
    <%= form.collection_select(:partner_id, Partner.all, :id, :name) %>
  </div>

  <div class="row">
    <%= form.label :sport_type_id %>
    <%= form.collection_select(:sport_type_id, SportType.all, :id, :name) %>
  </div>

  <div class="row">
    <%= form.label :record_status %>
    <%= form.select :record_status, RegistrationForm.record_statuses.keys.to_a %>
  </div>

  <div class="row">
    <%= form.button class: "btn waves-effect waves-light", style: "width: 100%" do %>
      <%= @registration_form.new_record? ? 'Create Registration Form' : 'Update Registration Form' %>
      <i class="material-icons right">send</i>
    <% end %>
  </div>
<% end %>
</div>

<% content_for :custom_scripts do %>
<script>
  document.addEventListener('turbolinks:render', () => {
    let elem1 = document.getElementById('registration_form_partner_id');
    let elem2 = document.getElementById('registration_form_sport_type_id');
    let elem3 = document.getElementById('registration_form_record_status');
    M.FormSelect.init(elem1);
    M.FormSelect.init(elem2);
    M.FormSelect.init(elem3);
  });

  document.addEventListener('turbolinks:before-cache', () => {
    let elem1 = document.getElementById('registration_form_partner_id');
    let elem2 = document.getElementById('registration_form_sport_type_id');
    let elem3 = document.getElementById('registration_form_record_status');
    if(elem1){
      let inst = M.FormSelect.getInstance(elem1);
      if(inst){
        inst.destroy();
      }
    }
    
    if(elem2){
      let inst = M.FormSelect.getInstance(elem2);
      if(inst){
        inst.destroy();
      }
    }

    if(elem3){
      let inst = M.FormSelect.getInstance(elem3);
      if(inst){
        inst.destroy();
      }
    }
  });
</script>
<% end %>