<p id="notice"><%= notice %></p>

<h4 style="text-align: center">Registration Forms</h4>

<div class="container">
<table class="striped">
  <thead>
    <tr>
      <th>Form number</th>
      <th>Partner</th>
      <th>Sport type</th>
      <th>Record status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @registration_forms.each do |registration_form| %>
      <tr>
        <td><%= link_to registration_form.form_number, registration_form %></td>
        <td><%= registration_form.partner.name %></td>
        <td><%= registration_form.sport_type.name %></td>
        <td><%= registration_form.record_status %></td>
        <!--<td><%= link_to 'Show', registration_form %></td>-->
        <td>
          <%= link_to edit_registration_form_path(registration_form) do %>
            <i class="material-icons">edit</i>
          <% end %>
        </td>
        <td>
          <%= link_to registration_form, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons">delete</i>
          <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<div class="fixed-action-btn">
  <%= link_to new_registration_form_path, class: "btn-floating btn-large waves-effect waves-light blue" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>

<% content_for :custom_scripts do %>
<script>

</script>
<% end %>