<div class="container">
  <%= form_with(model: sport_type, local: true) do |form| %>
  <% if sport_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sport_type.errors.count, "error") %> prohibited this sport_type from being saved:</h2>

      <ul>
      <% sport_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="row">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="row">
    <%= form.label :record_status %>
    <%= form.select :record_status, SportType.record_statuses.keys.to_a %>
  </div>

  <div class="row">
    <%= form.button class: "btn waves-effect waves-light", style: "width: 100%" do %>
      <%= sport_type.new_record? ? 'Create Sport Type' : 'Update Sport Type' %>
      <i class="material-icons right">send</i>
    <% end %>
  </div>
<% end %>

<% content_for :custom_scripts do %>
<script>
  document.addEventListener('turbolinks:render', () => {
    let elem1 = document.getElementById('sport_type_record_status');
    M.FormSelect.init(elem1);
  });

  document.addEventListener('turbolinks:before-cache', () => {
    let elem1 = document.getElementById('sport_type_record_status');
    if(elem1){
      let inst = M.FormSelect.getInstance(elem1);
      if(inst){
        inst.destroy();
      }
    }
  });
</script>
<% end %>
</div>