<!DOCTYPE html>
<html>
  <head>
    <title>SportCrudApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>

  <body>
   <nav> 
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </nav>

  <ul id="slide-out" class="sidenav">
    <li><%= link_to "Partners", partners_path %></li>
    <li><%= link_to "Sport Types", sport_types_path %></li>
    <li><%= link_to "Registration Forms", registration_forms_path %></li>
  </ul>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var options = {draggable: true};
    var instances = M.Sidenav.init(elems, options);
  });

  </script>

    <%= yield %>
  </body>
</html>
